body{
    background-color: rgb(241, 232, 220);
<<<<<<< HEAD
    font-family: 'Courier New', Courier, monospace;
}
=======
    font-family: 'Courier New', Courier, monospace;    
}
>>>>>>> 81c4fe884efc83767aefcf54082bcb79b2c63db0
